<h2>Add Course</h2>

<!-- const courseSchema = new Schema({
  name: String,
  startingDate: Date,
  endDate: Date,
  level: String,
  available: Boolean
}) -->

<form action="/addcourse" method="POST">
  <label for="name">Course Name</label>
  <input id="name" type="text" name="name" required>
  <br>
  <br>
  <label for="startingDate">Starting Date</label>
  <input id="startingDate" type="date" name="startingDate" required>
  <br>
  <br>
  <label for="endDate">End Date</label>
  <input id="endDate" type="date" name="endDate" required>
  <br>
  <br>
  <label for="level">Level</label>
  <input id="level" type="text" name="level" required>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message">
      <%= message %>
    </div>
    <% } %>
      <br>
      <br>

      <button type="submit">Create Course</button>
</form>